/*Variaveis*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  color: #777; }

/* Navigation menu */
.container--fluid {
  width: 100%;
  height: auto; }

.div--container {
  max-width: 114rem;
  margin: 0 auto; }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

.clearFix {
  content: "";
  display: table;
  clear: both; }

.btn {
  background-color: #37a7cc;
  border-radius: 4px;
  border: 2px solid #929191; }

.btn-book a {
  color: #fff;
  padding: 1.5rem 2rem; }

.btn-form {
  font-size: 1.4rem;
  padding: 1.3rem;
  width: 30%;
  background-color: #45c3d3;
  cursor: pointer;
  color: #fff;
  border: 1px 1px 1px 0px solid #ebebeb; }

.navigation {
  width: 100%;
  height: 75px;
  padding: 2rem 0; }
  .navigation--logo--wrapper {
    width: 20%;
    color: #333;
    float: left; }
  .navigation--brand {
    padding: 0rem 2rem;
    display: inline-block;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 400; }
  .navigation--brand h2 span {
    color: #37a7cc; }
  .navigation--menu {
    width: 80%;
    height: auto;
    float: left;
    padding: 0rem 5rem 0rem 2rem; }
  .navigation--menu ul {
    list-style: none;
    text-align: right; }
  .navigation--menu ul li {
    display: inline-block;
    padding: .4rem;
    font-size: 1.2rem;
    font-weight: 300; }
  .navigation--link {
    text-decoration: none;
    color: #777; }
  .navigation--link:hover {
    color: #333; }
  .navigation--item {
    margin-right: 1.5rem;
    border: 1px solid #e7e5e5;
    border-radius: 4px; }
  .navigation::after {
    content: "";
    display: table;
    clear: both; }

/*Perceiros*/
.sectionParceiros {
  width: 100%;
  height: auto;
  background-color: #f1f1f1;
  text-align: center;
  padding-bottom: 3rem;
  border-bottom: 2px solid #ddd; }
  .sectionParceiros--title {
    display: inline-block;
    padding-top: 2rem;
    padding-bottom: 1.5rem;
    font-weight: 700; }
  .sectionParceiros--img {
    display: block;
    height: auto; }
  .sectionParceiros img {
    width: 100px; }
  .sectionParceiros img:not(:first-child) {
    margin-left: 4rem; }

.sectionComoFuncionaWrapper {
  width: 100%;
  height: auto;
  text-align: center;
  padding: 5rem 0 10rem; }
  .sectionComoFuncionaWrapper--title--wrapper {
    margin-bottom: 5rem; }
  .sectionComoFuncionaWrapper--title {
    font-size: 3.5rem;
    color: #444;
    font-weight: 700;
    text-transform: capitalize;
    margin-bottom: 25px; }
  .sectionComoFuncionaWrapper--title span {
    color: #45c3d3;
    display: inline-block;
    border-bottom: 4px solid #45c3d3; }
  .sectionComoFuncionaWrapper--paragrafo {
    font-size: 1.3rem !important;
    color: #333; }
  .sectionComoFuncionaWrapper--process--container {
    width: 100%;
    height: auto; }
  .sectionComoFuncionaWrapper--process--wrapper {
    width: 33%;
    float: left; }
  .sectionComoFuncionaWrapper--iconClass {
    font-size: 8rem;
    color: #45c3d3; }
  .sectionComoFuncionaWrapper h4 {
    font-size: 1.5rem;
    margin: 1rem 0 .4rem;
    font-weight: 400;
    color: #333; }
  .sectionComoFuncionaWrapper p {
    font-size: 1rem;
    line-height: 1.3; }

.sectionTestemunhos {
  width: 100%;
  height: auto;
  padding: 5rem 0 6rem;
  background-color: #f1f1f1; }
  .sectionTestemunhos--titleWrapper {
    width: 80%;
    height: auto;
    margin: 0 auto 8rem auto;
    text-align: center; }
  .sectionTestemunhos--titleWrapper h1 {
    font-size: 3.5rem;
    text-transform: capitalize;
    font-weight: 700;
    margin-bottom: 1rem;
    color: #45c3d3; }
  .sectionTestemunhos--titleWrapper p {
    font-size: 1.3rem;
    line-height: 1.2;
    color: #777; }
  .sectionTestemunhos--contentWrapper {
    width: 100%;
    height: auto; }
  .sectionTestemunhos--content {
    width: 33%;
    float: left; }
  .sectionTestemunhos img {
    height: 100%;
    transition: all .5s; }
  .sectionTestemunhos img:hover {
    transform: scale(1.2);
    cursor: pointer; }
  .sectionTestemunhos--imageHolder {
    width: 15.6rem;
    height: 15.6rem;
    display: block;
    margin: 0 auto;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2); }
  .sectionTestemunhos--testemunhos {
    width: 20rem;
    display: block;
    margin: 0 auto; }
  .sectionTestemunhos--message {
    margin-top: 2rem;
    font-size: 1rem;
    line-height: 1.4; }
  .sectionTestemunhos--message span {
    display: inline-block;
    font-weight: 700;
    color: #333;
    font-size: 1.3rem;
    margin-right: .5rem; }
  .sectionTestemunhos--cargo {
    display: block !important;
    margin-top: 1.3rem;
    margin-right: 2rem !important;
    font-weight: 300 !important;
    font-size: 1.1rem !important;
    font-style: italic;
    text-align: right; }
  .sectionTestemunhos--cargo small {
    font-weight: 700;
    font-size: 1.1rem; }

.sectionNewsletter {
  width: 100%;
  height: auto;
  text-align: center;
  padding: 5rem 0 10rem;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../../img/newsletterbg.jpg");
  background-position: center;
  background-size: cover; }
  .sectionNewsletter--title {
    width: 60%;
    height: auto;
    display: inline-block; }
  .sectionNewsletter h3 {
    font-size: 3.5rem;
    margin-bottom: 1rem;
    color: #fff; }
  .sectionNewsletter p {
    font-size: 1.3rem;
    color: #fff; }
  .sectionNewsletter--fromContainer {
    display: inline-block;
    width: 100%;
    margin: 0 auto; }
  .sectionNewsletter .section--input--address {
    width: 70%; }
  .sectionNewsletter .section--form_wrapper {
    margin-top: 4rem; }
  .sectionNewsletter .section--form {
    width: 65%; }

.sectionServicos {
  width: 100%;
  height: auto;
  padding: 5rem 0 6rem;
  background-color: #f7f9eb;
  text-align: center; }
  .sectionServicos img {
    width: 100%;
    transition: all .3s; }
  .sectionServicos--title {
    display: inline-block;
    margin-bottom: 6rem; }
    .sectionServicos--title h3 {
      font-size: 3.5rem;
      color: #45c3d3; }
  .sectionServicos--contentWrapper {
    width: 100%;
    height: auto; }
  .sectionServicos--singleServicos {
    background-color: #fff;
    border-radius: .6rem;
    overflow: hidden;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2); }
  .sectionServicos--singleServicos:hover img {
    opacity: .5; }
  .sectionServicos--contentBody {
    padding: 2rem 1.5rem 4rem 1.5rem; }
    .sectionServicos--contentBody h3 {
      color: #333;
      margin-bottom: .5rem;
      font-size: 1.3rem;
      font-weight: 700; }
    .sectionServicos--contentBody p {
      line-height: 1.5; }

/* top hero section */
.section {
  width: 100;
  height: 90vh;
  overflow: hidden;
  position: relative;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../img/bg-hero2.jpeg");
  background-position: center;
  background-size: cover;
  /*form*/ }
  .section--wrapper {
    width: 65%;
    height: auto;
    position: absolute;
    top: 49%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff; }
  .section--title {
    font-size: 4.5rem;
    text-transform: capitalize;
    font-weight: 700;
    margin-bottom: 2rem;
    text-shadow: 1px 1px 55px rgba(0, 0, 0, 0.47);
    animation: moveInLeft 2.5s ease-out; }
  .section--paragraph {
    font-size: 1.3rem;
    line-height: 1.4;
    width: 70%;
    margin: 0 auto;
    text-shadow: 1px 1px 55px rgba(0, 0, 0, 0.37);
    letter-spacing: 1px;
    font-weight: 400;
    animation: moveInRight 2.5s ease-out; }
  .section--form_wrapper {
    margin: 8rem 0 0; }
  .section--form {
    width: 100%;
    position: relative;
    display: inline-flex;
    vertical-align: middle; }
  .section--input--address {
    border: 1px 0px 1px 1px solid #ebebeb;
    padding: 1.3rem;
    width: 48%;
    line-height: normal;
    font-family: inherit;
    font-size: 1.1rem;
    margin: 0;
    overflow: visible; }
  .section--input--houseNumber {
    width: 22%;
    padding: 1.3rem;
    line-height: normal;
    font-size: 1.1rem;
    margin: 0;
    overflow: visible;
    border: 1px 0px 1px 1px solid #ebebeb; }

form {
  display: block; }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 3rem; }
  .row:not(:last-child) {
    margin-bottom: 3.5rem; }
  .row .col-1-of-2 {
    width: calc((100% - 3rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 3rem) / 3); }
