/*Variaveis*/
$color-black:#000;
$color-lightBlack:#333;
$color-dark-gray: #777;
$color-light-gray:#f1f1f1;
$color-white:#fff;
$color-lightblue:#45c3d3;
$color-darkblue:#29b9cc;

$color-lightyellow:#f7f9eb;
$color-lightWhiteyellow:#edeee6;


$grid-width: 114rem;
$gutter-vertical: 3rem;
$gutter-horizontal:3.5rem;
