.btn{
    background-color: rgb(55, 167, 204);
    border-radius: 4px;
    border: 2px solid rgb(146, 145, 145);
}

.btn-book a{
    color: $color-white;
    padding: 1.5rem 2rem;
}

.btn-form{
    font-size: 1.4rem;
    padding: 1.3rem;
    width: 30%;
    background-color: #45c3d3;
    cursor: pointer;
    color: $color-white;
    border: 1px 1px 1px 0px solid #ebebeb;
}