


//contact style

.contactBox{
    width: 100%;
    display: inline-block;
    background-color: $color-darkblue;
    color: $color-white;
    padding: .3rem 0 .3rem 2rem;

    &--contact--email{
        width: 100%;
        font-weight: 300 !important;
    }

    &--email{
        
    }
}


.navigation{
    width: 100%;
    padding: 2rem 0;

    &--logo--wrapper{
        width: 20%;
        color: #333;
        float: left;
    }

    &--brand{
        padding: 0rem 2rem;
        display: inline-block;
        text-decoration: none;
        font-size: 1.5rem;
    }

    &--brand h2{
        font-weight:bold;
    }

    &--brand h2 span{
        color: rgb(55, 167, 204);
    }

    &--menu{
        width: 80%;
        height: auto;
        float: left;
        padding: 0rem 5rem 0rem 2rem;
    }


    &--menu ul{
        list-style: none;
        text-align: right;
        margin: 0px;
    }
    
    &--menu ul li{
        display: inline-block;
        font-weight: 300;
    }
    
    &--link{
        text-decoration: none;
        color: $color-dark-gray;
        display: block;
        padding: .5rem 1rem;
    }

    &--link-btn{
        text-decoration: none;
        color: $color-white !important;
        display: block;
        padding: .5rem 2rem;
    }

    &--link:hover{
        color: #333 !important;
    }
    
    &--item{
        margin-right: 1.5rem;
        border: 1px solid #e7e5e5;
        border-radius: 4px;
    }

    &::after{
        content: "";
        display: table;
        clear: both;
    }
}
