.sectionTestemunhos{
    width: 100%;
    height: auto;
    padding: 5rem 0 6rem;
    background-color: #f1f1f1;

    &--titleWrapper{
        width: 80%;
        height: auto;
        margin: 0 auto 6rem auto;
        text-align: center;
    }

    &--titleWrapper h1{
        font-size: 3.5rem;
        text-transform: capitalize;
        font-weight: 700;
        margin-bottom: 1rem;
        color: $color-lightblue;
    }

    &--titleWrapper p{
        font-size: 1rem;
        line-height: 1.2;
        color: #777;
    }

    &--contentWrapper{
        width: 100%;
        height: auto;
    }

    &--content{
        width: 33%;
        float: left;
        
    }

    & img{
        height:100%;
        transition: all .5s;
    }

    & img:hover{
        transform: scale(1.2);
        cursor: pointer;
    }

    &--imageHolder{
        width: 6rem;
        height: 6rem;
        display: block;
        margin: 0 auto;
        border-radius: 50%;
        overflow: hidden;
        box-shadow: 0px 3px 5px rgba(0, 0,0, .2);
        position: absolute;
        top: -28%;
        left: 35%;
    }

    &--testemunhos{
        width: 20rem;
        display: block;
        margin: 0 auto;
        position: relative;
    }

    &--message{
        margin-top: 2rem;
        font-size: 1rem;
        line-height: 1.4;
        box-shadow: 0px 1px 4px rgba(0,0,0,.2);
        padding: 3rem 1rem 1.5rem 1rem;
        border-radius: 4px;
        background-color: $color-white;
    }

    &--message span{
        display: inline-block;
        font-weight: 700;
        color: $color-lightBlack;
        font-size: 1.3rem;
        margin-right: .5rem;
    }


    &--cargo{
        display: block !important;
        margin-top: 1.3rem;
        margin-right: 2rem !important;
        font-weight: 300 !important;
        font-size: 1.1rem !important;
        font-style: italic;
        text-align: right;
    }

    &--cargo small{
        font-weight: 700;
        font-size: 1.1rem;
    }
}

@media only screen and (max-width:991px){
    .sectionTestemunhos{

        padding: 3rem 0 4rem;

        &--titleWrapper h1{
            font-size: 3rem;
        }

        &--content{
            width: 100%;
        }

        &--content:not(:last-child){
            margin-bottom: 4rem;
        }

    }
}

